extends layout.jade

block content
  div#embed
    header
      ul.nav.nav-tabs
        each code, target in output
          li: a(href='##{code.safe}', data-toggle='tab')= target

      div.btn-dropdown.dropdown.hidden.pull-right
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown"): i.fa.fa-bars

        ul.dropdown-menu
          each code, target in output
              li: a.hidden(href='##{code.safe}', data-toggle='tab') #[i.fa.fa-check] #[= target]

    div.tab-content
      each code, target in output
        if (typeof code.src === 'string')
          div.tab-pane(id= code.safe).fade
            button(class='btn btn-default btn-xs btn-clipboard', data-clipboard-target='#{target}-code') #[i.fa.fa-copy] #[span Copy to Clipboard]
            pre: code(id='#{code.safe}-code', class= target.replace('.', ''))= code.src

    footer Powered by #[a(href="https://apiembed.com/", target="_blank") GISTembed]

block scripts
  script(type='text/javascript').
    $(function () {
      // configure Zero Clipboard
      ZeroClipboard.config({
        swfPath: '//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf',
        forceHandCursor: true,
        trustedDomains: [window.location.host, "cdnjs.cloudflare.com"]
      })

      // attach Zero Clipboard
      new ZeroClipboard($('.btn-clipboard'))

      // select first tab
      $('.nav-tabs a[data-toggle="tab"]:first').tab('show')

      // resize events
      $(window).resize(function () {
        var totalWidth = 0;
        var windowWidth = $(this).width();

        $('.nav-tabs > li').each(function () {
          var tab = $(this)
          var link = tab.find('a')

          totalWidth += tab.width()

          console.log(link.attr('href'), tab.position().left, tab.position().left + tab.width())

          if (tab.position().left + tab.width() + 100 > windowWidth) {
            tab.addClass('hidden')

            $('.btn-dropdown a[href*="' + link.attr('href') + '"]').removeClass('hidden')
            $('.btn-dropdown li[data-clients*="' + link.attr('href') + '"]').removeClass('hidden')
          } else {
            tab.removeClass('hidden')

            $('.btn-dropdown a[href*="' + link.attr('href') + '"]').addClass('hidden')
            $('.btn-dropdown li[data-clients*="' + link.attr('href') + '"]').addClass('hidden')
          }
        })

        if (totalWidth + 50 > windowWidth) {
          $('.btn-dropdown').removeClass('hidden')
        } else {
          $('.btn-dropdown').addClass('hidden')
        }

        $('.dropdown-menu').css('max-height', $(this).height() - 100)
      }).resize()

      // dropdown click events
      $('.btn-dropdown a[data-toggle="tab"]').on('click', function (e) {
        e.preventDefault()

        $('.btn-dropdown .active').removeClass('active')
        $('.nav-tabs .active').removeClass('active')

        $(this).tab('show')

        $('a[href="' + $(e.target).attr('href') + '"]').parent().addClass('active')
      });

      // highlight the code
      $('.tab-content pre code').each(function (i, block) {
        hljs.highlightBlock(block)
      })
    })
